<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>member/detail</h2>
<p/>
<table border="1">
    <tr>
        <td width="10%">회원번호 : </td>
        <td width="20%">{{ m.id }}</td>
    </tr>
    <tr>
        <td width="10%">username : </td>
        <td width="20%">{{ m.username }}</td>
    </tr>
    <tr>
        <td width="10%">hp : </td>
        <td width="20%">{{ m.hp }}</td>
    </tr>
    <tr>
        <td width="10%">email : </td>
        <td width="20%">{{ m.email}}</td>
    </tr>
    <tr>
        <td width="10%">name : </td>
        <td width="20%">{{ m.name }}</td>
    </tr>
</table>
<p/>
<a href='/member/list'>목록으로</a>
</body>
</html>