{% extends 'base.html' %}
{% block title %}회원가입{% endblock %}

{% block content %}
<h2>member/detail</h2>
<p/>
<table class="table">
    <tr>
        <td>회원번호 : </td>기
        <td>{{ m.id }}</td>
    </tr>
    <tr>
        <td>username : </td>
        <td>{{ m.username }}</td>
    </tr>
    <tr>
        <td>hp : </td>
        <td>{{ m.hp }}</td>
    </tr>
    <tr>
        <td>email : </td>
        <td>{{ m.email}}</td>
    </tr>
    <tr>
        <td>name : </td>
        <td>{{ m.name }}</td>
    </tr>
</table>
<p/>
<a href='/member/list' class="btn btn-success" role="button">목록보기</a>
{% endblock %}